WEBBASEURL=web base link
VENDORBASEURL=vendor base link
ADMINBASEURL=admin base link
DISCORD_WEBHOOK_URL=discord webhook url
WEBEMAIL=example@gmail.com
WEBPHONENUMBER=9700000000
WEBPASSWORD=password
VENDOREMAIL=example@gmail.com
VENDORPHONENUMBER=9700000000
VENDORPASSWORD=password
ADMINEMAIL=example@gmail.com
ADMINPASSWORD=password